* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
nav {
  background-color: #333;
  color: white;
  padding: 1.5rem;
  cursor: pointer;
}
.main-text {
  font-size: 4rem;
}
nav:hover {
  background-color: #555;
  transition: background-color 0.3s ease;
}
header {
  background: linear-gradient(to bottom, #add8e6, #87ceeb);
  padding: 20px;
  text-align: center;
}
p {
  font-size: 2rem;
}
/* .reposContainer {
} */
.repo {
  background-color: #add8e6;
  border: 2px solid #000;
  padding: 2rem;
  cursor: pointer;
}
